@model List<SachOnline.Models.SACH>
<div>
    <h2 style="text-align: center">Sách bán nhiều</h2>
    <div class="Contrainer-Book">
        @foreach (var item in Model)
        {
            <div class="book">
                <img src="~/Images/Sach/@item.HinhMinhHoa" />
                <div>
                    <p style="font-size: 25px;"> @item.TenSach </p>
                    <p>
                        @item.MoTa
                    </p>
                </div>
            </div>
        }
    </div>
</div>